body {
  background-color: #4DA8DA;
}

.App {
  text-align: center;
  height: 100%;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  padding-top: 1em;
  overflow: hidden;
  background-color: #333;
}

.nav-item
{
  display: inline-block;
  
}

.nav-item a
{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-right: 1px;
}

.nav-item a:hover
 {
  background-color: #111;
}

.nav-item:last-child {
  float:right;
 
}
